div {
  width: 30vw;
  height: 40vw;
  border: solid;
  overflow: scroll;
}
p {
  margin-left: 10%;
}
.title {
  font-size: 120%;
}
.author {
  color: #4745ff;
  font-size: 120%
}
span {
  color: navy
}
button {
  width: 3vw;
  height: 3vw;
}
