<button (click) = "service.getPrevBook()"> < </button>
<div>
  <p class="title">{{service.currentBook.title}}
    <input type="checkbox" name="vehicle" value="Car" (click)="changeSelection()"
       [checked] = "service.currentBook['selected']">
  </p>
  <hr>
  <p class="author"> {{service.currentBook.author}}</p>
  <p> {{service.currentBook.description}}</p>
  <p> <span>Rating:</span> {{service.currentBook.rating}}</p>
  <p> <span>Price: $ {{service.currentBook.price}} </span></p>
</div>
<button (click) = "service.getNextBook()"> > </button>
