<div class = "head" >
  <div *ngFor = "let book of service.listOfBooks['books']">
    <div class="book" *ngIf = "book['selected']"> {{book["title"]}}
      <button (click)="deleteBook(book)"> X </button></div>
  </div>
</div>

<div class="price">
  Total: {{service.totalPrice}} $
</div>
