.head {
  display: block;
  border: solid;
  width: 30vw;
  height: 40vw; }

.book {
  display: flex;
  margin: 0.5vw 0 0.5vw 0;
  height: 4vw;
  align-items: center;
  border: solid 1px; }
  .book button {
    align-self: center; }

.book:hover {
  background-color: #718bc3; }

.price {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 5vw;
  border: 1px solid;
  background-color: cornflowerblue; }

/*# sourceMappingURL=selected-books.component.css.map */
